
.left-nav {
    width: 250px;
    height: 100vh;
    /*height: 500px;*/
    background: #fff4e6;
}

.link-list {
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 60px 40px;
    justify-content: space-around;
}



.link {
    /*color: white;*/
    color: #495057;
    text-decoration: none;
}

